<h1 class="chat-room-name">Enter room name:</h1>
<form onsubmit="doPost($('#ident'), $('#chat')); return false">
    room name to enter: <input id="chat" type="text" size="48"/>
</form>

<table id="messages">
</table>
